<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185994506355-lqq4e9oagu4mmtspvfto35iho5nn2hke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185994506355-lqq4e9oagu4mmtspvfto35iho5nn2hke</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>185994506355-lfc9js8m13e09im91k12sbq1qoa6q98u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfcoJgrjLmuCbLGf8XsbDaJEbpSFE7SKU</string>
	<key>GCM_SENDER_ID</key>
	<string>185994506355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AcademyApp</string>
	<key>PROJECT_ID</key>
	<string>sykes-training</string>
	<key>STORAGE_BUCKET</key>
	<string>sykes-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185994506355:ios:bd0386d1323bcb02</string>
	<key>DATABASE_URL</key>
	<string>https://sykes-training.firebaseio.com</string>
</dict>
</plist>